// Core Styles
// ============================================================

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}

// ========= Clearfix =========

.clearfix {
	@include clearfix;
}

// ========= Body Global Styles =========

*, *:before, *:after {
	box-sizing: border-box;
}

html {
	font-size: 100%;
}

body {
	background-color: $base-background-color;
	color: $base-font-color;
	font-family: $base-font-family;
	font-feature-settings: 'liga' 1, 'onum' 1, 'kern' 1;
	font-size: $base-font-size;
	line-height: $base-line-height;
	margin: 0;
}

main {
	@include clearfix;
}

// Link Styles

a {
	color: $base-link-color;
	background: transparent;

	&:hover, &:focus, &:active {
		color: $hover-link-color;
	}

	&:active, &:hover {
		outline: 0;
	}

	&:focus {
		outline: thin dotted;
	}
}

hr {
	height: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

img {
	display: inline-block;
	max-width: 100%;
}

img,
a img {
	border: 0;
}

figure {
	margin: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

// ========= Site Head =========

.site-header {
	@include clearfix;
	background-size: cover;
	background: $secondary no-repeat center center;
	color: $base-background-color;
	padding: 4em 0;
	position: relative;
	text-align: center;
	width: 100%;

	.blog-logo {
		text-decoration: none;

		img {
			display: block;
			width: auto;
			margin: 0 auto;
		}
	}

	h1.blog-title {
		font-weight: bold;
		font-family: $header-font-family;
		color: $base-background-color;
	}

	h2.blog-description {
		font-size: 1.125em;
		font-weight: 300;
		font-family: $base-font-family;
		max-width: em-calc(700);
		margin-left: auto;
		margin-right: auto;
		color: $base-background-color;
	}
}

// ========= Posts =========

.post {
	word-break: break-word;
	hyphens: auto;
	margin: 4em auto;
	width: 90%;
	max-width: em-calc(700);

	@media #{$small} {
		width: 80%;
	}
}

.post-title {

	a {
	}
}

.post-excerpt {

	p {
	}
}

.read-more {
}

.post-meta {
	color: $alt-font-color;
	display: inline-block;
	font-family: $base-font-family;
	font-size: 1em;
	margin: 0 0 0.25em 0;

	a {
		color: inherit;

		&:hover {
			color: $base-link-color;
		}
	}

}

.user-meta {

	.user-image {
	}

	.user-name {
	}

	.user-bio {
	}

}

.publish-meta {

	.publish-heading {
	}

	.publish-date {
	}
}

// ========= Single Posts =========

// Post Header

.post-template {

	.content {
	}

	.post {
	}

	.post-header {
		margin-bottom: 4em;
		text-align: center;

		a.blog-logo {
			display: block;
		}

		img {
			display: block;
			width: auto;
			margin: 0 auto;
		}

		.blog-title {

		}
	}
}

// Post Content

.post-content {

	img {
		display: block;
		height: auto;
		margin: 0 auto;
		max-width: 100%;
		padding: 1.6em 0;
	}
}

// Post Footer

.post-footer {
	padding: 4em 0;
	position: relative;
}

// Author Meta

ul.author-meta {
	@include clearfix;
	color: $alt-font-color;
	font-style: italic;
	padding: 0;

	li {
		display: inline;

		a {
			color: inherit;
			text-decoration: underline;

			&:hover {
				color: $base-link-color;
			}
		}
	}
}

.post-footer .share a {
	color: inherit;
	display: inline-block;
	margin: 1em 1.6em 1.6em 0;

	&:hover {
		color: $base-link-color;
	}
}

// ========= Tag Archive =========

.archive-template .site-head {
	height: auto;
	padding-bottom: 5em;
}

.archive-template .site-head a {
	color: $base-background-color;
}

.archive-template .blog-logo {
	display: block;
	margin-top: 5em;
}

.tag-archive-header {
	margin: 4em auto;
	max-width: em-calc(700);
	position: relative;
	text-align: center;
}

.archive-template .blog-title {
	display: inline-block;
}

// ========= Third Party Elements =========

// Github

.gist table {
	margin: 0;
	font-size: 1.4em;
}

.gist .line-number {
	min-width: 25px;
	font-size: 1.1em;
}

// ========= Pagination =========

.pagination {
	color: $alt-font-color;
	font-family: $header-font-family;
	margin: 4em auto;
	max-width: em-calc(700);
	position: relative;
	text-align: center;
	width: 80%;
}

.pagination a {
	color: inherit;
	text-decoration: underline;

	&:hover {
		color: $base-link-color;
	}
}

.older-posts,
.newer-posts {
}

.page-number {
}

// ========= Global Footer Styles =========

.site-footer {
	color: $alt-font-color;
	font-family: $header-font-family;
	padding-bottom: 4em;
	position: relative;
	text-align: center;

	a {
		color: inherit;
		text-decoration: underline;

		&:hover {
			color: $base-link-color;
		}
	}

	.subscribe {
		text-align: center;
		text-decoration: none;
	}
}

// ========= Media Quieries =========

// @media #{$screen} {}

// @media #{$small} {}

// @media #{$medium} {}

// @media #{$large} {}

// @media #{$landscape} {}

// @media #{$portrait} {}
