// Project Settings
// ============================================================

// ========= Media Queries =========

$small-screen: 768px !default;
$medium-screen: 1280px !default;
$large-screen: 1440px !default;

$screen: "only screen" !default;
$small: "only screen and (min-width: #{$small-screen})" !default;
$medium: "only screen and (min-width:#{$medium-screen})" !default;
$large: "only screen and (min-width:#{$large-screen})" !default;
$landscape: "only screen and (orientation: landscape)" !default;
$portrait: "only screen and (orientation: portrait)" !default;

// ========= Typography & Metrics =========

$base-font-size: 1em;
$base-line-height: 1.75;

$base-spacing-unit: ($base-line-height * 1em);
$base-container-width: em-calc(800);

$h1-font-size: em-calc(44);
$h2-font-size: em-calc(37);
$h3-font-size: em-calc(27);
$h4-font-size: em-calc(23);
$h5-font-size: em-calc(18);
$h6-font-size: em-calc(16);

// Small Print
$small-font-size: 75%;

// Indentation for dl, ul, blockquote
$indent-amount: 1em;

// Font Families
$base-font-family: 'Merriweather', sans-serif;
$header-font-family: 'Open Sans', sans-serif;
$header-font-weight: 300;

// ========= Color Settings =========

$primary: #d34836;
$primary-alt: darken($primary, 10);
$secondary: #4b4b4b;
$tertiary: #9b9b9b;

// Primary roles
$base-font-color: #2b2b2b;
$alt-font-color: $tertiary;
$base-background-color: whitesmoke;
$base-link-color: $primary;
$hover-link-color: $primary-alt;
$heading-color: $secondary;
$alert: red;
$success: green;

// ========= Component Settings =========

$base-transition-speed: 150ms;
$base-transition-function: ease;

// Borders
$base-border-radius: 2px;
$base-border-width: 1px;
$base-border-color: $secondary;
$base-border: $base-border-width solid $base-border-color;
