// ========= Tag Archive =========

.archive-template .site-head {
  height: auto;
  padding-bottom: 5em;
}

.archive-template .site-head a {
  color: $base-background-color;
}

.archive-template .blog-logo {
  display: block;
  margin-top: 5em;
}

.tag-archive-header {
  margin: 4em auto;
  max-width: em-calc(700);
  position: relative;
  text-align: center;
}

.archive-template .blog-title {
  display: inline-block;
}
