// ========= Site Header =========

.site-header {
  @include clearfix;
  background: $secondary no-repeat center top;
  background-size: cover;
  color: $base-background-color;
  padding: 4em 0;
  position: relative;
  text-align: center;
  width: 100%;

  .blog-logo {
    text-decoration: none;

    img {
      display: block;
      width: auto;
      margin: 0 auto;
    }
  }

  .blog-title {
    font-weight: bold;
    font-family: $header-font-family;
    color: $base-background-color;
  }

  .blog-description {
    font-size: 1.125em;
    font-weight: 300;
    font-family: $base-font-family;
    max-width: em-calc(700);
    margin-left: auto;
    margin-right: auto;
    color: $base-background-color;
  }
}
