// Default View Styles
// ============================================================

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}

// ========= Pagination =========

.pagination {
	color: $alt-font-color;
	font-family: $header-font-family;
	margin: 4em auto;
	max-width: em-calc(700);
	position: relative;
	text-align: center;
	width: 80%;
}

.pagination a {
	color: inherit;
	text-decoration: underline;

	&:hover {
		color: $base-link-color;
	}
}

.older-posts,
.newer-posts {
}

.page-number {
	margin: 0 $base-spacing-unit;
}

// ========= Global Footer Styles =========

.site-footer {
	color: $alt-font-color;
	font-family: $header-font-family;
	padding-bottom: 4em;
	position: relative;
	text-align: center;

	a {
		color: inherit;
		text-decoration: underline;

		&:hover {
			color: $base-link-color;
		}
	}

	.subscribe {
		text-align: center;
		text-decoration: none;
	}
}
