// ========= Posts =========

.post-title {

  a {
  }
}

.post-excerpt {

  p {
  }
}

.read-more {
}

.post-meta {
  color: $alt-font-color;
  display: inline-block;
  font-family: $base-font-family;
  font-size: 1em;
  margin: 0 0 0.25em 0;

  a {
    color: inherit;

    &:hover {
      color: $base-link-color;
    }
  }

}

.user-meta {

  .user-image {
  }

  .user-name {
  }

  .user-bio {
  }

}

.publish-meta {

  .publish-heading {
  }

  .publish-date {
  }
}
