// ========= Single Posts =========

.post {
  word-break: break-word;
  hyphens: auto;
  margin: 4em auto;
  width: 90%;
  max-width: em-calc(700);

  @media #{$small} {
    width: 80%;
  }
}

// Post Header

.post-header {
}

// Post Content

.post-content {

  img {
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 100%;
    padding: 1.6em 0;
  }
}

// Post Footer

.post-footer {
  padding: 4em 0;
  position: relative;
}

// Author Meta

ul.author-meta {
  @include clearfix;
  color: $alt-font-color;
  font-style: italic;
  padding: 0;

  li {
    display: inline;

    a {
      color: inherit;
      text-decoration: underline;

      &:hover {
        color: $base-link-color;
      }
    }
  }
}

.author-thumb {
  float: left;
  margin-right: $base-spacing-unit;
  width: 3em;
}

.post-footer .share a {
  color: inherit;
  display: inline-block;
  margin: 1em 1.6em 1.6em 0;

  &:hover {
    color: $base-link-color;
  }
}
